@font-face {
	font-family: "MontserratRegular", sans-serif;
	src: url("../assets/fonts/MontserratRegular.ttf");
}

@font-face {
	font-family: "MontserratSemiBold", sans-serif;
	src: url("../assets/fonts/MontserratSemiBold.ttf");
}

@font-face {
	font-family: "MontserratBold", sans-serif;
	src: url("../assets/fonts/MontserratBold.ttf");
}

@font-face {
	font-family: "icons";
	src: url("../assets/fonts/icons.ttf");
}